@model Factory.Models.Engineer

@{
  Layout = "_Layout";
}

<h2>Add a new engineer</h2>

@using(Html.BeginForm())
{
  @Html.LabelFor(model => model.EngineerName)
  @Html.TextBoxFor(model => model.EngineerName)
  <br>
  @Html.Label("Add Machines this Engineer is Licensed For: ")<br>
  @Html.DropDownList("MachineId")<br>

  <input type="submit" value="Add Engineer" /><br>
}

<p>@Html.ActionLink("Show all Engineers", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>