@model Factory.Models.Engineer

@{
  Layout = "_Layout";
}

<h1>Edit this Engineer : @Html.DisplayFor(model => model.EngineerName)</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.EngineerName)
  @Html.EditorFor(model => model.EngineerName, new {@class="form-control", required="required"})
  <br>
  @Html.LabelFor(model => model.DateofHire)
  @Html.TextBoxFor(model => model.DateofHire, new { @type = "date"})
  <br>
  @Html.Label("Engineer is currently on a project")
  @Html.CheckBoxFor(model => model.IsWorking, false)
  <br>
  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Save" />
}

